# Chapter 1 - An Introduction to Python

In this lesson you will learn:
* to perform basic arithmetic operations in Python
* to create variables and assign values to them

## Basic Arithmetic

Basic arithmetic is performed using "operators". In this case, we use "arithmetic operators" including addition (+), subtraction (-), multiplication (*) and division (/). These are not the only operators available in Python. There are also comparison operators, assignment operators and logical operators to name a few, although it is not necessary to understand what all of these are.

### Addition and Subtraction

The addition operator (+) adds the values on either side of the operator.

In [868]:
1 + 2

3

The subtraction operator (-) subtracts the right hand 'operand' from the left hand operand.

In [869]:
2 - 1

1

### Multiplication and Division

The multiplication operator (*) multiplies values on either side of the operator.

In [870]:
2 * 3

6

The division operator (/) divides the left hand operand by right hand operand.

In [871]:
2 / 3

0.6666666666666666

If you have used other programming languages like JavaSciprt before you will notice that Python does not require us to use semi-colons or brackets in the basic syntax. This makes Python different from other languages like JavaScript and R and is partly why many consider Python an easier language to learn for beginners.

## Basic Mathematical Functions

We have covered some of the arithmetic operations but more still remain.

|Operation        | Example     | Description |
|--------------|-----------|------------|
| + | c=a+b| c takes value of a+b|
| += | c+= b| c takes value of c+b|
|-| c=a-b| c takes value of a-b|
|-=| c-=b| c takes value of c-b|
| * | c=a*b | c takes value of a times b|
| *= | c*=b | c takes value of c times b|
| / | c=b/a | c takes value of b/a|
| /= | c/=a | c takes value of c/a|
| ** | c=a**b | c takes value of $a^b$|
| **= | b**=a | c takes value of $b^a$|
| // | c=a//b | c takes value of floor division of a by b|
| //= | c//=b | c takes value of floor division of c by b|
| % | c=a%b | c takes value of a modulo b|
| %= | c%=b | c takes value of c modulo b|

Floor division is just regular division except it returns the largest possible integer that is less than or equal to the result of division.

Divide 15 by 7 to get 2.14 for instance.

In [872]:
15/7

2.142857142857143

Floor division would return the value 2.

In [873]:
15//7

2

Here's another example

In [874]:
5/3

1.6666666666666667

In [875]:
5//3

1

The modulo function returns the remainder of a division.

In [876]:
5%4

1

In [877]:
8%3

2

In [878]:
21%6

3

### Example

Try writing a script that takes two numbers and performs integer division.

In [879]:
a = 13

b = 3

a/b

4.333333333333333

### Example

Try using floor division

In [880]:
a = 13

b = 3

a//b

4

### Example

Try writing another script but instead of applying division evaluate $a^b$.

In [881]:
a = 13

b = 3

a**b

2197

## Variable Assignment

In programs, information can be stored in variables. Variables are references to data that is stored in memory. Variables are essentially labels to help with storing and retrieving information from memory.

In [882]:
x = 1

In [883]:
y = 5

In [884]:
x + y

6

In [885]:
x - 5

-4

In [886]:
x * y

5

In [887]:
x / y

0.2

Note that Python is case sensitive.

In [888]:
X = 10

In [889]:
X-x

9

Note: Earlier we mentioned "operators" and noted that there was something called an "assignment operator". The assignment operator (=) assigns values from the right side operannds to the left side operand, for instance, earlier when we used this operator between the variable name "x" and the value "1" we were assigning the value "1" (the right hand operand) to the variable name "x" (the left side operand).

## Scientific Mathematical Functions

There are many mathematical functions available in Python. These functions are available through a maths "library" of functions. This library needs to be added to the code. At the beginning of a program we need to write the words *import math* to tell the script that we will be importing and using the math library. 

The table below details some of these functions but make note of the syntax where each function starts with the name of the library followed by the name of the function. 

| Function | Description |
| -------- | ------------------ |
|math.sqrt(x)| $sqrt(x)$ |
|math.pow(a,b)| $a^b$ |
|math.sin(x)| $sin(x)$|
|math.asin(x)| $sin^{-1}(x)$|
|math.cos(x)| $cos(x)$|
|math.acos(x)|$cos^{-1}(x)$|
|math.tan(x)| $tan(x)$|
|math.atan(x)|$tan^{-1}(x)$|
|math.degrees(x)| $180x/ \pi$|
|math.radians(x)| $\pi x/180$|
|math.pi| $\pi = 3.141...$|
|math.e| $e = 2.718...$|
|math.exp(x)|$e^x$|
|math.expm1(x)|$e^x - 1$|
|math.log(x)| $ln(x) = log_e(x)$|
|math.log10(x)| $log_{10}(x)$|
|math.log(a,b)| $log_{b}(a)$|
|math.log2(x)|$log_2(x)$|

Note that the trigonometric functions work in radians and the functions *math.radians(x)* and math.degrees(x) will convert x from degrees to radians and from radians to degrees respectively.

It's not necessary to memorise all these functions, it's just important to know that there's a library called "math" that contains them. Realisitically, nobody can be expected to know the entire contents of any library. If we know that the "math" library contains math functions then we can be relatively assured when we need to do some complex maths that there will be functions within that library which will be useful. We can then search for the functions we need either in the documentation or elsewhere.

### Example

Write a script that takes the square root of 25 and shows the result.

In [890]:
import math

x = 25

sqrt_x = math.sqrt(x)

# We can use a built in function called print() to "print" the results to the screen.

print(sqrt_x)

5.0

### Example

Write a script that multiplies three numbers (they can be any numbers). The script should then take the square root of the result and divide this by $\pi$.

In [891]:
import math

x = 1
y = 2
z = 3

product = x * y * z

sqrt_prod = math.sqrt(product)

divide_pi = sqrt_prod / math.pi

print(divide_pi)

0.779696801233676

We could also try to do this in one line!

In [892]:
print(math.sqrt(1 * 2 * 3) / math.pi)

0.779696801233676

The limit to how many calculations should be performed in one line is subjective. Generally we try to do what we can in as little space as possible however we should not do this at the expense of understanability or readability.

### Example

Write a program that takes an angle in degrees, converts it to radians and then prints out it's sine, cosine and tangent values.

In [893]:
import math

x = 30

x_radians = math.radians(x)

sine = math.sin(x_radians)

cosine = math.cos(x_radians)

tangent = math.tan(x_radians)

print('sin(x): ', sine, '; cos(x): ', cosine, '; tan(x): ', tangent)

sin(x):  0.49999999999999994 ; cos(x):  0.8660254037844387 ; tan(x):  0.5773502691896257

## Naming Variables

In general variables cannot begin with a number; contain spaces; or contain characters including :'",<>?!@#$%^&*~-+"'. It is also good practice to try and name variables in a descriptive way. For instance, if I want a variable that stores weight that variable could be named "weight" or "w" or "wgt" but calling it something like "sdgf" wouldn't be very informative.

## Objects

Variables are "objects" in Python (but not all objects are variables as we will see later).

## Variable Types

Variables also have a 'type' which describes the characteristics of the variable. At a basic level, a variable can be an "integer" (whole number), a "float" or a "string."

### Integers, Floats and Strings

Integers are whole numbers that can be positive or negative, for instance: -2, -1, 0, 1, 2, ... etc.

In [894]:
i = 12
j = 24
k = 36

Floating point numbers are numbers that are written with a decimal point dividing the integer and fractional part of the number.

In [895]:
l = 1.1
m = 3.14
n = 1.16

In [896]:
f = 'hello'
g = 'world'
h = 'hello world'

Python has an in-built function called *type()* that can be used to determine the type of a variable. Passing the variable in question into the function will return the type of the variable.

In [897]:
type(i)

int

In [898]:
type(j)

int

In [899]:
type(k)

int

In [900]:
type(l)

float

In [901]:
type(m)

float

In [902]:
type(n)

float

In [903]:
type(f)

str

In [904]:
type(g)

str

In [905]:
type(h)

str

### Lists and Sets

There are some other types like lists and sets. They will become important later on and you might be able to take a guess as to what they are but for now it is sufficient to understand that they exist.

In [906]:
list_a = [1, 2, 4, 8, 16]
list_b = ['hello', 'world']
list_c = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [907]:
type(list_a)

list

In [908]:
type(list_b)

list

In [909]:
type(list_c)

list

We can access elements of a list by writing the index of the element we want to access in square brackets after the name of the list. Note that the indexing starts at 0.

In [910]:
list_a[0]

1

In [911]:
list_a[3]

8

This won't work with sets as sets are "unordered" meaning that while we can write elements into a set in a particular order they won't be stored in that order. A list is like a well curated bookshelf while a set is more like a disorderly backpack.

In [912]:
set_a = {0, 5, 10, 15, 20}
set_b = {'hello','world'}

In [913]:
type(set_a)

set

In [914]:
type(set_b)

set

### Boolean and Logic

Variables can also reference "boolean" values which refer to logic through "True" or "False" statements.

In [915]:
p = True

In [916]:
q = False

These truth statements allow us to perform logical tests, for instance, checking whether the value of one variable is greater than the value of another.

In [917]:
s = 70

In [918]:
r = 75

#### Logical Tests

Greater than:

In [919]:
s > r

False

In [920]:
r > s

True

Less than:

In [921]:
s < r

True

In [922]:
r < s

False

Less than or equal to:

In [923]:
s <= r

True

In [924]:
r <= s

False

Equal to:

In [925]:
s == r

False

Not equal to:

In [926]:
s != r

True

## Type Conversions

There will be times when you want to specify a type onto a variable. This can be done with "casting," which involves using "constructor functions." Here we also introduce the *print()* function which prints the value of a variable to the screen.

In [927]:
a_string = str('This is a string')

In [928]:
type(a_string)

str

In [929]:
print(a_string)

This is a string

Casting can also be used to convert from one type to another. In the example below a float is converted to an integer.

In [930]:
number = 32.2

In [931]:
type(number)

float

In [932]:
new_number = int(32.2)

In [933]:
type(new_number)

int

We can convert some surprising types, for instance, a string can become a float:

In [934]:
another_string = str('3')

In [935]:
type(another_string)

str

In [936]:
new_float = float(another_string)

In [937]:
type(new_float)

float

## Exercises

### Exercise 1

Write a simple python program to print the words "Hello World!" to the screen.

### Exercise 1 - Solution

In [938]:
print("Hello World!")

Hello World!

### Exercise 2

Change the program to print a different message, such as "Hello World... again!"

### Exercise 2 - Solution

In [939]:
print("Hello World... again!")

Hello World... again!

### Exercise 3

Write a program that assigns two integers to variables with the names *var1* and *var2*. The program should print the variables to the screen.

### Exercise 3 - Solution

In [940]:
var1 = 12
var2 = 2
print(var1, var2)

12 2

Note: You may notice in the solution that two "arguments" are passed into the *print()* function and are separated by a comma. The *print()* function can take more than one argument and it will print them both. Passing in two arguments like this saves us from writing print(var1) followed by print(var2) but it should be noted that while the *print()* function can take multiple arguments in this way not all functions can do this. Try passing two arguments into the *type()* function, e.g., type(var1, var2) and see what happens.

### Exercise 4

Write a program that it prints to the screen: "Please can I have 12 eggs and 2 cartons of milk."

### Exercise 4 - Solution

In [941]:
print("Please can I have ", var1, " eggs and ", var2, " cartons of milk.")

Please can I have  12  eggs and  2  cartons of milk.

### Exercise 5

Try searching online to find a function that assigns variables through user input. Use the function you found to write a script that asks a user their name.

### Exercise 5 - Solution

In [942]:
# There are two ways to approach this problem. Both use of the input() function.

# Print a request for a name to the screen.
print('Please enter your name')

# Save the user input to a variable called "name."
name = input()

Please enter your name
Namey Namerson

In [943]:
# Alternatively, we can include the print statement in the input() function.

name = input("What is your name?")

What is your name?Namey Namerson

Notes: A large part of writing programs to solve unseen problems (that may not have known solutions) is being able to search for and find useful information online.

### Exercise 6

Write a program that calculates the average of several numbers assigned to the variable names *var1*, *var2*, *var3* and *var4*. Print the solution to the screen.

### Exercise 6 - Solution

In [944]:
var1 = 1
var2 = 2
var3 = 3
var4 = 4

average = (var1 + var2 + var3 + var4) / 4
print("The average is: ", average)

The average is:  2.5

### Excercise 7

Use casting to change the value of one of the variables in the example above from an integer to a float.

### Example 7 - Solution

In [945]:
float(var1)

1.0

### Exercise 8

Modify the program above to take user input to read the values of each of the variables. Use casting to ensure that the values input are floats.

### Exercise 8 - Solution

In [946]:
var1 = float(input("Enter first number: "))
var2 = float(input("Enter second number: "))
var3 = float(input("Enter third number: "))
var4 = float(input("Enter fourth number: "))

average = (var1 + var2 + var3 + var4) / 4
print("The average is: ", average)

Enter first number: 1
Enter second number: 2.3
Enter third number: 3.4
Enter fourth number: 5
The average is:  2.925

Note: The exercise above illustrates an important feature of functions. Some functions can take a function as an argument! This allows us to chain actions together rather than writing multiple lines. For instance, if this were not possible the code above would read:

In [947]:
var1  = input("Enter first number: ") 
var1 = float(var1) 
var2  = input("Enter second number: ") 
var2 = float(var2)
var3  = input("Enter third number: ") 
var3 = float(var3) 
var4  = input("Enter fourth number: ") 
var4 = float(var4) 

average = (var1 + var2 + var3 + var4) / 4
print("The average is: ", average)

Enter first number: 1
Enter second number: 2.3
Enter third number: 3.4
Enter fourth number: 5
The average is:  2.925

### Exercise 9

Write a program where three strings are entered, added together and
then printed on the screen.

### Exercise 9 - Solution

In [948]:
string_one = 'This '
string_two = 'is '
string_three = 'addition.'

added_strings = string_one + string_two + string_three
print(added_strings)

This is addition.

### Exercise 10

Modify the program above to chain the addition of the strings and the print function together.

### Exercise 10 - Solution

In [949]:
string_one = 'This '
string_two = 'is '
string_three = 'addition.'

print(string_one + string_two + string_three)

This is addition.

### Exercise 11

Search online again to find a way to force a newline to be taken in a string. Use the special character combination you find to introduce new lines in the previous example between each word.

### Exercise 11 - Solution

In [950]:
string_one = 'This '
string_two = 'is '
string_three = 'addition.'
newline = '\n'

print(string_one + newline + string_two + newline + string_three)

This
is
addition.

### Exercise 12

It is good practice to add comments to your code to explain what the code does. We do this using the *#* character. Add a comment to the code in your previous program to explain how it works.

### Exercise 12 - Solution

In [951]:
string_one = 'This '
string_two = 'is '
string_three = 'addition.'
newline = '\n'

# The print function prints the summation of the variables listed above.
print(string_one + newline + string_two + newline + string_three)

This
is
addition.

### Exercise 13

Pythagoras Theorem states that, for a right angle triangle, the area of the square whose side is the hypotenuse is equal to the sum of the areas of the squares on the other two sides., or:

$a^2=b^2+c^2$.

If $b$ is equal to 3 and $c$ is equal to 4 calculate $a^2$.

Note: Exponentiation is the operation of raising a number to a power. In python exponentiation can be done in a number of ways. One of which has been covered already. Search online to discover another way to answer this question.

### Exercise 13 - Solution

In [952]:
b = 3
c = 4

# The first way to perform exponentiation is by using the "**" operator.
print('a^2 = ', b**2 + c**2)

# Another way to perform exponentiation is by using the built in pow() function. 
print('a^2 = ', pow(b,2) + pow(c,2))

a^2 =  25
a^2 =  25

### Exercise 14 

Make a list of the numbers 1 to 10 and take the sine of those numbers. Make a list of the results

### Exercise 14 - Solution

In [953]:
# Create the list
list_of_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# We can access each element of the list by including its index in square brackets after the name of the list. 
# Note that the indexing starts on zero!

value1 = math.sin(list_of_numbers[0])
value2 = math.sin(list_of_numbers[1])
value3 = math.sin(list_of_numbers[2])
value4 = math.sin(list_of_numbers[3])
value5 = math.sin(list_of_numbers[4])
value6 = math.sin(list_of_numbers[5])
value7 = math.sin(list_of_numbers[6])
value8 = math.sin(list_of_numbers[7])
value9 = math.sin(list_of_numbers[8])
value10 = math.sin(list_of_numbers[9])

list_of_sine_results = [value1, value2, value3, value4, value5, value6, value7, value8, value9, value10]

print(list_of_sine_results)

[0.8414709848078965, 0.9092974268256817, 0.1411200080598672, -0.7568024953079282, -0.9589242746631385, -0.27941549819892586, 0.6569865987187891, 0.9893582466233818, 0.4121184852417566, -0.5440211108893698]

Note: This task can actually be performed in just one line of code.

In [954]:
print([math.sin(i) for i in range(1,11)])

[0.8414709848078965, 0.9092974268256817, 0.1411200080598672, -0.7568024953079282, -0.9589242746631385, -0.27941549819892586, 0.6569865987187891, 0.9893582466233818, 0.4121184852417566, -0.5440211108893698]

This line of code is not as complicated as it seems, *print()* is a function you have encountered already and it prints whatever is passed into it as an argument. We can create lists by opening square brackets and describing what the contents should be inside those square brackets. The expression "i for i in range(a,b)" is known as a "for loop" and we will encounter these later. It says that for every element in the range a to b that element should be included in the list. The example above is a little more complicated in that it requests that for every element in the range 1 to 11 the sine of that element should be included in the list. Note that the range excludes the upper limit - another nuance of lists. There's no need to understand all this right now, this just serves to illustrate how efficient Python can make seemingly complicated multi-step calculations.

## Summary

This chapter has covered basic arithmetic including arithmetic operators (addition, subraction, multiplication, division, etc); variable assignment; scientific mathematical functions; variable types; and type conversion. 

In programming, the most important part is not memorising lists of functions or the contents of libraries or lots of technical details about how and why everything works the way it does. The most important part is being able to locate information and use that information to solve problems and hopefully you have gained some experience of that in the worked examples and the exercises.